
.title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .word1 {
    --color-1: #fabe9e;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .word2 {
    --color-1: rgb(250, 244, 220);
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .word3 {
    --color-1: #556bd8;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .word4 {
    --color-1: #3D8DAE;
    --color-2: rgb(250, 244, 220);
    --color-3: #E4A9A8;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  
  .title {
    font-family: "Ibarra Real Nova", serif;
    font-weight: 20;
    font-size: 50px;
    padding-block: 15px;
    text-transform: uppercase;
  }

  .container {
    display: grid;
    place-items: center;  
    text-align: center;
    
  }
  
 


body{
    background-color: #B287A3 ;
    margin: 0px;
    font-size: 30px;
    color: rgb(250, 244, 220);
    text-align: center;
    font-family:  "Ibarra Real Nova", serif;
    
}



p {

    font-size: 20px;

}

#overallchart {
    color:black;
}

.chart-container {
  width: 1000px;
  height:600px;
  position: absolute;
}

#generateChartButton{
  border: none;
  padding: 15px 32px;
  color: #482728;
  background-color: #C0F8D1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  width: 80%;
  border-radius: 8px;
  transition-duration: 0.4s


}

#generateChartButton:hover {
  background-color: #BDCFB5; 
  color: white;
  
}

#HingeInteraction {

    color: #C0F8D1;
    font-size: 35px;
    text-align: center;
    font-family: "Ibarra Real Nova", serif;

}